@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

/* START Base HTML Styling */
body {
    max-width       : 1000px;
    color: white;
    background-color: #78cad3;
    margin          : 0 auto;
    font-family     : 'Raleway', sans-serif;
}

p, h1,h2,h3,h4,h5,h6 {
    margin: 1.5%;
}

a { /* Unified link styling */
    color:white;
}

a:hover {
    text-decoration: underline;
    color: rgba(190,190,190, .7);
}

textarea { /* Ensuring text areas are sufficiently visible/rendered */
    height: 7em;
    width : 75%;
}

button { /* The standard button theme for the app */
    color: white;
    padding              : .75em;
}

button:hover {
    background: rgba(0,0,0, 0.5);
    cursor    : pointer;
}

input, textarea {
    color:white;
    font-size: 1.2em;
    background-color:rgba(0, 0, 0, 0.2);
}

/* END Base HTML Styling */

/* START General Panel Styling Theme */

button, .panel-style, input, textarea { /* The standard panel styling that is employed throughout the app and is the wrapper for most of everything thats displayed. */
    margin               : .5%;
    border-color         : rgba(255,255, 255, .55);
    border-radius        : 10px 10px 10px 10px;
    -moz-border-radius   : 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.panel-style {
	margin:0 auto;
    max-width       : 800px;
	padding:0%;
    border-width         : 1px;
    border-style         : solid;
    border-color         : rgba(190,190,190, .5);
    background-color:rgba(0,0, 0, 0.25);
}
.submit-button, .edit-button{
    background-color : rgba(0, 170, 90, .60);
}

.cancel-button {
    background-color: rgba(255, 220, 107, .60);
}

.delete-button {
    background-color: rgba(255,51,54, .60);
}

.corner {
    text-align:right;
}

.center-element {
    text-align: center;
    margin: 0 auto;
}
.flash {
	width:80%
}
.flash ul{
	text-align:center;
    background-color: rgba(48, 214, 255, 1);
    list-style-type: none; 
}

.restaurant-header h1 {
}
.restaurant-header {

}

.material-icons {
	opacity:.50;
	margin:1%;
}

.thumbnail {
}
.thumbnail img{
	max-width:10%;
}
/* END General Panel Styling Theme */
