@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

/* START Base HTML Styling */
body {
    color: white;
    background-color: #B2EBF2;
    max-width       : 1000px;
    margin          : 0 auto;
    font-family     : 'Raleway', sans-serif;
}

p, h1,h2,h3,h4,h5,h6 {
    margin: 1.5%;

}

a { /* Unified link styling */
    color:white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

textarea { /* Ensuring text areas are sufficiently visible/rendered */
    height: 7em;
    width : 75%;
}

button { /* The standard button theme for the app */
    color: white;
    padding              : .75em;
    font-weight: bold;
}

button:hover {
    color     : white;
    background: rgba(0,0,0, 0.5);
    cursor    : pointer;
}

.disabled button{ /* Styles a div to be disabled if assigned this class */
    color      : white;
    cursor     : not-allowed;
    opacity    : .75;
    font-weight: normal;
    border     : 1px #d3d3d3 solid;
}

input, textarea {
    color:white;
    font-size: 1.2em;
    padding:1%;
    background-color:rgba(0, 0, 0, 0.2);
}

/* END Base HTML Styling */

/* START General Panel Styling Theme */

.site-title {
    text-align: center;
}
button, .panel-style, input, textarea { /* The standard panel styling that is employed throughout the app and is the wrapper for most of everything thats displayed. */
    margin               : .5%;
    border-width         : 1px;
    border-style         : solid;
    border-color         : rgba(255,255, 255, .85);
    border-radius        : 10px 10px 10px 10px;
    -moz-border-radius   : 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.panel-style {
    padding: 1%;
    background-color:rgba(0,0, 0, 0.2);
}
.submit-button, .edit-button{
    background-color : rgba(0, 170, 90, .60);
}

.cancel-button {
    background-color: rgba(255, 220, 107, .60);
}

.delete-button {
    background-color: rgba(255,51,54, .60);
}

.corner {
    text-align:right;
}

.center-element {
    text-align: center;
    margin: 0 auto;
}
/* END General Panel Styling Theme */