{% extends "base.html" %}

  {% block head %}
    {{ super() }}
    
  {% endblock %}

{% block content %}
<div class="panel-style">
<div class="center-element">
<h1> Are you sure you want to delete {{restaurant.name}}? </h1>
    <p>Deleting this restaurant will be permanent.</p>
        <form action="{{ url_for('deleteRestaurant', restaurant_id=restaurant.id) }}" method='post'>

            <a href = "{{ url_for('listRestaurants')}}">
                <button class="cancel-button">
                    Cancel
                </button>
            </a>

            <button class="delete-button" type='submit', value='Delete'>
                Delete This Restaurant
            </button>

        </form>


</div>
</div>
{% endblock %}