{% extends "base.html" %}

  {% block head %}
    {{ super() }}
    
  {% endblock %}

{% block content %}
<div class="panel-style">
<div class="center-element">
    <h1> Are you sure you want to delete {{item.name}}? </h1>

    <p>Deleting this menu item will be permanent.</p>
        <form action="{{ url_for('deleteMenuItem',restaurant_id = item.restaurant_id, menu_id=item.id)}}" method = 'post'>

            <button class="delete-button" type='submit, value='Delete'>
                Delete This Menu Item
            </button>

            <a href = "{{ url_for('showRestaurant', restaurant_id = restaurant_id)}}">
                <button class="cancel-button">
                    Cancel
                </button>
            </a>




        </form>
</div>
</div>
{% endblock %}