{% extends "base.html" %}

  {% block head %}
    {{ super() }}
    
  {% endblock %}

  {% block content %}
            <div class="corner">
                <a href="{{ url_for('deleteRestaurant', restaurant_id = restaurant_id)}}" method='post' type='submit' value='Delete'>
                    <button>
                        Delete This Restaurant
                    </button>
                </a>
            </div>

        <form action="{{url_for('editRestaurant', restaurant_id=restaurant_id)}}" method='POST' id="form1">
            <h2>
                Restaurant Name
            </h2>

            <p>Input fields cannot be blank.</p>

            <input type='text' name='name' value='{{i.name}}'>
            <br>

            <button type="submit" form="form1" value="Submit">
                Submit
            </button>

            <a href="{{url_for('showRestaurant', restaurant_id=restaurant_id)}}">
                <button>
                    Cancel
                </button>
            </a>
        </form>

{% endblock %}
