<html>
    <body>
    
        <h1>
            Edit Menu Item
        </h1>

        <form action="{{url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=i.id)}}" method='POST' id="form1">

            <label for="name">Menu Name</label>
            <input type='text' name='name' placeholder='{{i.name}}'>
            <br>
            <label for="Description">Description</label>
            <input type='text' size='60' name='description' placeholder='{{i.description}}'>
            <br>
            <label for="Price">Price</label>
            <input type='text' name='price' placeholder='{{i.price}}'>
        </form>

        <button type="submit" form="form1" value="Submit">
            Submit
        </button>

        <button type="{{url_for('showRestaurant', restaurant_id=i.restaurant_id)}}" form=form1>
            Cancel
        </button>

    </body>
</html>