{% extends "base.html" %}

  {% block head %}
    {{ super() }}
    
  {% endblock %}

    {% block content %}
      <div class="panel-style">
        <form action="{{url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=i.id)}}" method='POST' id="form1">
            <h2>
              Edit Menu Item
            </h2>

            <p>Input fields cannot be blank.</p>

            <label for="name">
              <h3>
                Menu Name
              </h3>
            </label>
            <input type='text' name='name' value='{{i.name}}'>


            <label for="description">
              <h3>
                Description
              </h3>
            </label>
            <textarea type='text' name='description' value='{{i.description}}'>{{i.description}}</textarea>
            
            <label for="price">
              <h3>
                Price
              </h3>
            </label>
            <input type='text' name='price' value='{{i.price}}'>

        </form>

        <button class="submit-button type="submit" form="form1" value="Submit" class="go-button">
            Submit
        </button>

        <button class="cancel-button" type="{{url_for('showRestaurant', restaurant_id=i.restaurant_id)}}" form=form1>
            Cancel
        </button>
      </div>
      {% endblock %}

