{% extends "base.html" %}

  {% block head %}
    {{ super() }}
    
  {% endblock %}

  {% block content %}
        <div class="panel-style">
            <div class="corner">
                <a href="{{ url_for('deleteRestaurant', restaurant_id = restaurant_id)}}" method='post' type='submit' value='Delete'>
                    <button class="delete-button">
                        Delete This Restaurant
                    </button>
                </a>
            </div>

        <form action="{{url_for('editRestaurant', restaurant_id=restaurant_id)}}" method='POST' id="form1">

            <h4>
                <label>
                    Restaurant Name
                </label>
            </h4>

            <input type='text' name='name' value='{{i.name}}'>

            <i>Input fields cannot be blank.</i>
            <br>
            
        </form>
            <button class="submit-button type="submit" form="form1" value="Submit">
                Submit
            </button>
            <a href="{{url_for('showRestaurant', restaurant_id=restaurant_id)}}">
                <button class="cancel-button">
                    Cancel
                </button>
            </a>

        </div>
{% endblock %}
