{% extends "base.html" %}

  {% block head %}
    {{ super() }}
    
  {% endblock %}

    {% block content %}
        <div class="panel-style">
        <h2>
            Create New Restaurant
        </h2>
        <form action="{{url_for('newRestaurant', restaurant_id=restaurant_id)}}" method='post'>

        <h4>
            <label>
                Name
            </label>
        </h4>

        <input type='text' name='name'>
        <br>
            <button class="submit-button" type='submit'>
                Submit
            </button>
            
            <a href = "{{ url_for('listRestaurants')}}">
                    Cancel
            </a>

        </form>
        </div>
    {% endblock %}
