{% extends "base.html" %}

  {% block head %}
    {{ super() }}
    
  {% endblock %}

    {% block content %}
        <div class="panel-style">
        <h2>
            Create New Restaurant
        </h2>
        <form action="{{url_for('newRestaurant', restaurant_id=restaurant_id)}}" method='post' id="form1">

            <h4>
                <label>
                    Name
                </label>
            </h4>
            <input type='text' size='30' name='name'>

        </form>
        <input class="submit-button" type='submit' form="form1" value='Create'>
        </div>
    {% endblock %}