{% extends "main.html" %}
{% block content %}

			<h1>New Menu Item</h1>

	
			<form action="" method = "post">
				<input type ="text" maxlength="50" name="name" placeholder="Name of the course">

				<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the course"></textarea>
				<input type ="text" class="form-control" maxlength="10" name="price" placeholder="Price in $">
			    <input type="radio" name="course" id="course1" value="Appetizer">Appetizer
			    <input type="radio" name="course" id="course2" value="Entree">Entree
			    <input type="radio" name="course" id="course3" value="Dessert">Dessert
			    <input type="radio" name="course" id="course4" value="Beverage">Beverage
				<button type="submit" id="submit" type="submit">
					Create
				</button>
			</form>
{% endblock %}

